/* index.css */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark {
    background-color: #1e1e1e;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  